{% extends "base.html" %}
{% block content %}
{% for product in product_list %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=""> {{ product.name }} </button>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{ product.name }}</h4>
      </div>
      <div class="modal-body">
        <form>
            {% if product.imgurl %}
                {{ product.imgurl }}
            {% endif %}

            {% if product.description %}
                <p>
                {{ product.description }}
                </p>
            {% endif %}


            {% if product %}
                <p>
                {{ product.price }}
                </p>
            {% endif %}

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}