{% extends "base.html" %}


{% block content %}
    <body>
    {% if show_enter_code %}
        <div class="container">
        <h2>Utmanad</h2>
        <form action="" id="confirm_code" name="confirm_code" method="POST">
            <div class="form-group"  >
                <div class = "col-xs-3">
                    <label for="email">Skriv koden du har fått via utmaningen:</label>
                    <input type="text" class="form-control" placeholder = "kod" id="generated_code" name="generated_code" autofocus>
                    <br>
                    <input type="submit" class="btn btn-primary" name="message_button" value="se meddelande" id = "message_button"></input>
                </div>
            </div>
        </form>
    {% endif %}

    </div>
    {% if show_message_answer %}
        <form class="form-horizontal" id = "show_msg_form" name = "show_msg_form" method="POST" action="">
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Meddelande</label>
                <div class="col-sm-10">
                        <div class="well col-sm-7 form-control-static">
                        {% if message %}
                            {{message}}
                        {% else %}
                            Det finns inget meddelande till dig.
                        {% endif %}
                        </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Svaret skickas till</label>
                <div class="col-sm-10 form-control-static">
                    {{email}}
                </div>
            </div>
            <div class="form-group">

                {% if answer_message %}
                <label class="col-sm-2 control-label"> Uppdatera ditt svar</label>
                <div class="col-sm-10">
                    <textarea class="well col-sm-7" form="show_msg_form" placeholder="Svar" id="answer_message" name="answer_message" type="submit">{{ answer_message }}</textarea>
                </div>
                {% else %}
                <label class="col-sm-2 control-label"> Skriv ditt svar</label>
                <div class="col-sm-10">
                    <textarea class="well col-sm-7" form="show_msg_form" placeholder="Svar" id="answer_message" name="answer_message" type="submit" autofocus></textarea>
                </div>
                {% endif %}



            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                  {% if answer_message %}
                   <input id="answer_button" name="answer_button" type="submit" value="Skicka nytt svar" class="btn btn-primary">
                  {% else %}
                    <input id="answer_button" name="answer_button" type="submit" value="Skicka svar" class="btn btn-primary">
                  {% endif %}
                </div>
            </div>
        </form>
    {% endif %}
    {% if show_email_have_been_sent_page %}
         <form class="form-horizontal" id = "show_ans_form" name = "show_ans_form" method="POST" action="">
            <div class="form-group">
                <h4  class="col-sm-8 control-label">Ditt svar skickades till {{ email }}!</h4>

            </div>

            <div class="form-group">
                <a href="/checkout"><button type="button" class="btn-xlarge btn-default ">Starta Challenge</button></a>
            </div>



         </form>
    {% endif %}
    </body>
{%endblock %}
