{% extends "base.html" %}
{% block content %}

    <div class="panel panel-success">
        <div class="panel-heading"><h2>Tack för ditt Köp!</h2></div>
        <div class="panel-body">
            <p>Ett bekräftelsemail har skickats till: <strong>{{ email }}</strong></p>
            <p>En <strong>{{ product.name }}</strong> kommer såsmåninngom trilla ner i brevlådan hos den du valt att utmana.</p>
            <p>Den utmanade bli även ombedd att dokumentera händelseförloppet av denna heta ärofyllda utnamningen och en videolänk kommer då att dyka upp i din mail</p>
        </div>
    </div>
    <a class="btn btn-primary btn-large" href="{{ url_for('index') }}">Till Startsidan</a>

{% endblock %}
