{% extends "base.html" %}
{% block content %}

<div id="home" class="container-fluid">
  <div class="hero-text">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <h1>Hett</h1>
        <a href="/checkout"><button type="button" class="btn-xlarge btn-default">Start Challenge</button></a>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <h1>Chill</h1>
        <a href="/checkout"><button type="button" class="btn-xlarge btn-default">Start Challenge</button></a>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <h1>Kom igen</h1>
        <a href="/checkout"><button type="button" class="btn-xlarge btn-default">Start Challenge</button></a>
      </div>
    </div>
  </div>
</div>
  </div>
</div>


<div id="about" class="container-fluid">
  <h1>Om Oss</h1>
</div>


{% endblock %}
