{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container center_div">
        <h1>Logga in</h1>
        <form data-toggle="validator" role="form" method="post">
            {% if username_valid %}
                <div class="form-group">
                    <label for="loginUsername" class="control-label">Användarnamn</label>
                    <input type="text" class="form-control" name="username" id="loginUsername" placeholder="Användarnamn"
                           required data-required-error="Skriv ett hett användarnamn" autofocus>
                    <div class="help-block with-errors"></div>
                </div>
            {% else %}
                <div class="form-group has-error">
                    <label for="loginUsername" class="control-label">Användarnamn</label>
                    <input type="text" class="form-control input-check" name="username" id="loginUsername" placeholder="Användarnamn"
                           required data-required-error="Skriv ett hett användarnamn">
                    <div class="help-block with-errors label-check">Användarnamnet finns ej</div>
                </div>
            {% endif %}
            {% if password_valid %}
            <div class="form-group">
                <label for="loginPassword" class="control-label">Lösenord</label>
                <input type="password" class="form-control" name="password" id="loginPassword" placeholder="Lösenord" required
                       data-required-error="Skriv ett hett lösenord">
                <div class="help-block with-errors"></div>
            </div>
            {% else %}
            <div class="form-group  has-error">
                <label for="loginPassword" class="control-label">Lösenord</label>
                <input type="password" class="form-control input-check" name="password" id="loginPassword" placeholder="Lösenord" required
                       data-required-error="Skriv ett hett lösenord">
                <div class="help-block with-errors label-check">Lösenordet stämmer inte</div>
            </div>
            {% endif %}
            <div><a href="/recover_password">Glömt lösenord</a></div>
            {#<div class="checkbox">
                <input type="checkbox" id="remeber_me" name="remeber_me"> Remember me
            </div>#}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Logga in</button>
            </div>
        </form>
    </div>


{% endblock %}
