<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>


<body>

<div style="line-height: 10px; font-size: 1px">&nbsp;</div>
<div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Geneva, Verdana, sans-serif;text-align:left;"><p style="margin: 0;font-size: 12px;line-height: 14px"><span style="font-size: 24px; line-height: 28px; color: rgb(255, 0, 0);">Chenare! Du har gjort något riktigt hett!</span></p></div>
<div style="line-height: 10px; font-size: 1px">&nbsp;</div>
<div style="line-height: 5px; font-size: 1px">&nbsp;</div>

<div class="col num6" style="Float: left;max-width: 320px;min-width: 250px;width: 250px;width: calc(35250px - 7000%);background-color: transparent;">
    <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;">
        <div style="background-color: transparent;">
            <div style="line-height: 20px; font-size:1px">&nbsp;</div>
            <div align="center" class="img-container center">
                <div style="Margin-right: 0px;Margin-left: 0px;">
                    <a href="https://beefree.io" target="_blank">
                        <img class="center" align="center" border="0" src="http://www.weekendnotes.com/im/001/02/araluen-fremantle-chilli-festival-chilli-fest-frem2.jpg" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;float: none;width: 100%;max-width: 195px" width="195">
                    </a>
                </div>
            </div>
        </div>


        <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
        <div style="font-size:12px;line-height:14px;color:#C7702E;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"><p style="margin: 40px;font-size: 12px;line-height: 14px">&nbsp;Copyright Chili Challange</p><p style="margin: 0;font-size: 12px;line-height: 14px">&nbsp;<br></p></div>
        <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
    </div>
    <div style="line-height: 20px; font-size: 1px">&nbsp;</div>
</div>
</div>
</div>
<table border="0" width="300px" height="250px"
<p><span style="color: rgb(255, 170, 0);font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">Ett chilipaket är just nu påväg till {{ first_name }}</span></p>
<p><span style="color: rgb(255, 170, 0);font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">Leveransadress: {{ new_address.address }}  {{ new_address.zip }} {{ new_address.city }} </span></p>
<p><span style="color: rgb(255, 170, 0);font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">Du har valt att skicka följande hälsning:  {{ message }} </span></p>
<br>
<p><span style="color: rgb(255, 170, 0);font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">Din betalning är behandlad och uppkommer vidare frågor kontakta chilichallangeinfo@gmail.com</span></p>
</table>
</div>
</div>



</body>
</html>