
{% extends "base.html" %}

{% block nav %}
    {{super()}}
{% endblock %}

{% block foot %}
    {{ super()}}
{% endblock %}

{% block content %}
<ul id="user_info" class="media-list">
    <div id="user" class="media">
        <div class="media-body">
            <h4 class="media-heading">Välkommen till din profilsida!</h4>
            <b>Email: </b> <h2> {{ current_user.email }}</h2>
            <b>Username: </b> <h2> {{ current_user.username }}</h2>

            <b>Adress: </b>
            <address>
                <b> {{ current_address.first_name }} {{ current_address.last_name }} </b>
                <h2>{{ current_address.address }}</h2>
                <h2>{{ current_address.zip }} {{ current_address.city }}</h2>
            </address>
        </div>
</div>
</ul>

    <p>
        <button class="btn btn-large btn-primary" type="button">Ändra uppgifter</button>
    </p>

<div class="container">
  <h2>Dina ordrar</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Namn</th>
        <th>Produkt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2017</td>
        <td>du är</td>
        <td>Hot hot hotie</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}

