{% extends "base.html" %}

{% block content %}

<div class="container center_div">
    <h1>Återställ lösenord</h1>
    <form data-toggle="validator" role="form" method="post" id="recPasswordForm">
        {% if valid %}
        <table class="table">
            <tr>
                <th>Användar Uppgifter:</th>
                <th></th>
            </tr>
            <tr>
                <td>Användarnamn:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        <p>Maila en länk för att återställa lösenord?</p>
        <div>
            <a href="/recover_password"><button class="btn btn-primary"  type="button" >Inte jag</button></a>
            <input type="submit" class="btn btn-primary" value="Skicka Mail" name="send_mail" id="send_mail"></input>
        </div>
        {% elif not_valid%}
        <div class="form-group  has-error">
            <label for="recPassword" class="control-label">Skriv Användarnamn eller Email</label>
            <input type="text" class="form-control input-check" id="recPassword" name="recPassword"
                   placeholder="Användarnamn eller Email" data-required-error="Saknar användarnamn eller lösenord" required>
            <div class="help-block with-errors label-check">Finns ingen användare med de uppgifterna</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {% else %}
        <div class="form-group">
            <label for="recPassword" class="control-label">Skriv Användarnamn eller Email</label>
            <input type="text" class="form-control" id="recPassword" name="recPassword"
                   placeholder="Användarnamn eller Email" data-required-error="Saknar användarnamn eller lösenord" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {% endif %}

    </form>
</div>
{% endblock %}
