{% extends "base.html" %}
{% block nav %}
    {{super()}}
{% endblock %}
{% block content %}


    <div class="container-fluid">
      <h1 class="col-sm-10">Skriv in vem som ska få utmaningen</h1>
      <form data-toggle="validator" role="form" method="post">

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="regEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="regEmail" name="email"
            placeholder="Email" data-required-error="Skriv en het mail"
            data-error="Gör det ordentligt och skriv en riktig mail" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="col-sm-10">
            <p><input type="submit" value="Till betalning" class="btn btn-default"></p>
          </div>
        </form>
    </div>
{% endblock %}
